# Environnement virtuel
venv/
__pycache__/
*.pyc

# Données de test locales inutiles
data/*.mp4
data/*.wav
data/*.m4a
data/*.mp3

# Fichiers système macOS
.DS_Store

# Streamlit
.streamlit/

# Logs
*.log
